body {
  background-color: #eae9e9;
}

.products {
  margin-top: 95px;
}

.App-header {
  position: fixed;
  /* Navbar'ı sabit pozisyonda tutar */
  top: 0;
  /* Navbar'ı ekranın üstüne yerleştirir */
  width: 100%;
  /* Ekran genişliği kadar genişletir */
  z-index: 100;
  /* Navbar'ı diğer elemanların üstünde tutar */
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: 200px;
}

.card img {
  border-radius: 6px;
  height: 100px;
  width: 100px;
  object-fit: cover;
  /* Ensures the image fits within the specified dimensions */
  object-position: center;
  /* Centers the image within the container */

}

.card input {
  border-radius: 6px;
  margin-top: 10px;
  padding: 5px;
  width: 95%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.card button {
  background-color: #282c34;
  border: none;
  border-radius: 6px;
  color: white;
  margin-top: 10px;
  padding: 10px;
  width: 48%;
}

.card button:hover {
  background-color: #e7e7e7;
  color: #282c34;
  cursor: pointer;
}